<% language_tabs = current_page.data.language_tabs || [] %>

<% wrap_layout :layout do %>

  <a href="#" id="nav-button">
    <span>
      NAV
      <%= image_tag('navbar.png') %>
    </span>
  </a>
  <div class="tocify-wrapper">
    <a href="/"><%= image_tag "logo.png" %></a>
    <% if language_tabs.any? %>
      <div class="lang-selector">
        <% language_tabs.each do |lang| %>
          <% if lang.is_a? Hash %>
            <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
          <% else %>
            <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if current_page.data.search %>
      <div class="search">
        <input type="text" class="search" id="input-search" placeholder="Search">
      </div>
      <ul class="search-results"></ul>
    <% end %>
    <div id="toc">
    </div>
    <% if current_page.data.toc_footers %>
      <ul class="toc-footer">
        <% current_page.data.toc_footers.each do |footer| %>
          <li><%= footer %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="page-wrapper">
    <div class="dark-box"></div>
    <div class="content">
      <%= yield %>
      <% current_page.data.includes && current_page.data.includes.each do |include| %>
        <%= partial "includes/#{include}" %>
      <% end %>
    </div>
    <div class="dark-box">
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
