<% language_tabs = current_page.data.language_tabs || [] %>
<!doctype html>
<html>
  <head>
    <%= partial "includes/meta" %>

    <% if current_page.url == "/" %>
      <%# This is pretty hacky - We should at least include the original sass too? @BJC %>
      <%= stylesheet_link_tag :old_site_compiled, media: :all %>
    <% else %>
      <%= stylesheet_link_tag :screen, media: :screen %>
      <%= stylesheet_link_tag :print, media: :print %>
    <% end %>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <%= yield %>
  </body>
  <% if current_page.data.search %>
    <%= javascript_include_tag  "all" %>
  <% else %>
    <%= javascript_include_tag  "all_nosearch" %>
  <% end %>

  <%= partial "includes/ga" %>
</html>
